{% extends 'main.html' %}
 {% load static %} 
 {# Load the tag library #}
{% load django_bootstrap5 %}
 {# Load CSS and JavaScript #}
{% bootstrap_css %}
{%bootstrap_javascript %}
 {# Display django.contrib.messages asBootstrapalerts#}
{% bootstrap_messages %} 
{# Display a form #}

{% block content %}



    <h1>Password Reset Complete</h1>
    <p>Your password has been successfully reset.</p>
    <p>Click <a style="font-size: larger;" href="{% url 'Homepage:login' %}">here</a> to login with your new password.</p>


{% endblock content %}